* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* navbar */
nav {
  background-color: #0082AC;
  background-size: cover;
  font-weight: 500;
  font-size: 20px;
}

.navbar-brand img {
  width: 30%;
}

/* footer */
footer{
  background-color: #0082AC;
  background-size: cover;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

.footer-logo img {
  width: 130%;
}

.footer-kontak img {
  width: 6%;
  max-width: 50px;
}

.credit {
  text-align: center;
  color: #fff;
}

/* carousel */
.carousel .carousel-inner .carousel-item img {
	height: 480px;
	max-height: 1080px;
	min-height: 200px;
	object-fit: scale-down;
  filter: brightness(0.4);
}

.carousel .carousel-inner .carousel-item {
	background-color:#477381;
}

/* content */
.content1 p {
  font-size: 16px;
}

.img-thumbnail{
  width : 30%;
}

h2 {
  display: flex;
  flex-direction: column;
}

.btn-info{
 background-color: #0082AC;
 color: #fff;
 width: 200px;
}

.daftar {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
}
