* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* navbar */
nav {
  background-color: #0082AC;
  background-size: cover;
  font-weight: 500;
  font-size: 20px;
}

.navbar-brand img {
  width: 30%;
}

/* footer */
footer{
  background-color: #0082AC;
  background-size: cover;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

.footer-logo img {
  width: 130%;
}

.footer-kontak img {
  width: 6%;
  max-width: 50px;
}

.credit {
  text-align: center;
  color: #fff;
}

/* carousel */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 80vh;
}

.carousel-item:nth-child(1) {
  background-image: url('/assets/kegiatan1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: url('/assets/kegiatan3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-image: url('/assets/kegiatan5.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.btn-outline-light:hover {
  background-color:#fff !important;
  color: #000 !important;
  border: 1px solid #fff;
}

/* card */
.card .card-body h5 {
  min-height: 12vh;
}

.card .card-body p {
  min-height: 16vh;
}

.card .card-body .lengkap {
  text-align: center;
}

.card .card-body a {
  color: #0082AC;
}

/* content */
.content1 p {
  font-size: 16px;
}

.img-thumbnail{
  width : 30%;
}

h2 {
  display: flex;
  flex-direction: column;
}

.btn-info {
 background-color: #0082AC !important;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
 color: #fff;
 width: 200px;
 font-size: 16px !important;
}

.btn-info:hover {
  background-color: #fff !important;
  color: #0082AC !important;
  border: 1px solid #0082AC !important;
}

.btn-berita:hover {
  color: #0082AC !important;
}

.daftar {
  text-align: center;
  margin-bottom: 20vh;
  margin-top: 20vh;
}

.navbar-toggler{
  border: 2px solid #fff;
}


/* keyframe */
@keyframes moveright {
  from {right: -100px;}
  to {right: 0px;}
}
@keyframes moveleft {
  from {left: -100px;} 
  to {left: 0px;} 
}
@keyframes movebot {
  from {bottom : -100px;}
  to {bottom:0px;}
}


/* mobile ver */
@media (max-width: 991.98px)
{
  @keyframes moveright {
  from {bottom: -100px;}
  to {bottom: 0px;}
}
@keyframes moveleft {
  from {top: -100px;} 
  to {top: 0px;} 
}
@keyframes movebot {
  from {bottom : 0px;}
  to {bottom:0px;}
}
}
